page-message {
    .heads{
        position: absolute;
          
          font-size: 1.0em;
          width: 50%;
          font-weight: bold;
          color: rgb(212, 146, 22);
          text-shadow: #918c84 6px 6px 6px;
    }

    .forth{
        position: absolute;
          
          font-size: 1.0em;
          width: 50%;
          font-weight: bold;
          color: rgb(212, 146, 22);
          text-shadow: #918c84 6px 6px 6px;
    }
    .third{
        position: absolute;
          
          font-size: 1.0em;
          width: 50%;
          font-weight: bold;
          color: rgb(241, 241, 239);
          text-shadow: #918c84 6px 6px 6px;
    }

    .second{
        position: absolute;
          
          font-size: 1.0em;
          width: 50%;
          font-weight: bold;
          color: rgb(252, 251, 249);
          text-shadow: #918c84 6px 6px 6px;
    }

    .first{
        position: absolute;
          
          font-size: 1.0em;
          width: 50%;
          font-weight: bold;
          color: rgb(250, 249, 249);
          text-shadow: #918c84 6px 6px 6px;
    }
}
