page-under-age {
    .head{
        text-align: center;
        text-shadow: 4px 4px 4px;
    }

    .para{
        text-align: center;
        color: #ffa600;
        font-size: 200%;
        font-family: monospace;
        text-shadow: #64605a 6px 6px 6px;
    }

    .card-title{

        text-align: center;
        color: #ffa600;
        font-size: 200%;
        font-family: monospace;
        text-shadow: #64605a 6px 6px 6px;
    }
}
